/* MAPAS Y MIXIN */

$estilos: (
    Fuente: 25px,
    Color1: black,
    Color2: rgba(255, 255, 255, 0.678)
);

@mixin formaDePago {
    background-color: none;    
    border: 2px solid map-get($estilos, Color1 );
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px gray;
    
    &:hover {
        transition: 0.5s all ease-in-out;
        background-color: map-get($estilos, Color2 );
        color: black;
        box-shadow: 2px 2px 2px 3px gray;
        transform: scale(1.25);
    }
}
