/* MAPAS Y MIXIN */

$estilos: (
    Fuente: 25px,
    Color1: green,
    Color2: yellow
);

@mixin formaDePago {
    background-color: none;    
    border: 2px solid map-get($estilos, Color1 );
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px rgba(214, 93, 93, 0.603);
    
    &:hover {
        transition: 0.5s all ease-in-out;
        background-color: map-get($estilos, Color2 );
        color: black;
        box-shadow: 2px 2px 2px 3px gray;
        transform: scale(1.25);
    }
}
