*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../media/wooden-wall-scratched-material-background-texture-concept.jpg);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   }
        
header {
        text-align: center;
        margin: auto;
        font-size: 30px; 
        border-style: double;
        border-width: 2px ;
}


/*.navegacion {
    width: 1000px;
    margin: 30px auto;
    background-color: burlywood;
    font-size:  25px;
    text-align: center;
}

.navegacion ul {
list-style: none;
}

.menu > li {
    position: relative; 
    display: inline-block;
}

.menu > li >a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.menu li a:hover {
    color: aliceblue;
}

.submenu {
    position: absolute;
    width: 110%;
    background-color: burlywood;
    display: none;
    text-align: start;
    
}

.submenu li a {
    display: block;
    padding: 5px;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu {
    display: block;
}*/

.logo {
    display: flex;
    
}

.logo img {
    display: flex;
    height: 100px;
    margin: auto;
}

.img {
    display: flex;
    flex-direction: row-reverse;
    padding: 40px 15px;
    border-style: double;
    border-width: 2px ; 
    align-items: center;
}

/*.footer {
    width: 10px;
    height: 20px;
}*/

/* HTML EMPRESA*/

.empresa {
    text-align: center;
    
}

p {
    text-align: center;
    font-size: 20px;
}

/* HTML CONTACTO*/

h1 {
    text-align: center;
}

/* HTML CONTACTO*/

.compras {
    align-items: center;
}

/*button {
    display: flex;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px;
    color: rgb(14, 13, 13);
    background-color: rgba(211, 197, 184, 0.788);
}*/

.whatsapp {
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    z-index: 999;
    margin-right:  70px;
    margin-bottom: 70px;
    padding-bottom: 0px;    
}

/* GRIDS */

/*@media screen and (min-width: 320px) {

    #informacion div {
        border: solid 1px;
        padding: 10px;
        background-color: rgba(226, 195, 166, 0.6);
    }
    
    section #informacion {
        grid-area: informacion;
    }
    
    #informacion {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20%;
        column-gap: 10px;
        row-gap: 10px;
        text-align: center;
        font-weight: bold; 
        font-size: 20px;
        height: 600px;
        width: 100%;
        justify-items: stretch;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
    
    #info {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20%;
        grid-template-areas: "." "informacion informacion informacion";
        justify-items: stretch;
        align-items: center;
        justify-content: center;
        align-content: center;
        
    }

    #productos div {
        border: solid 1px;
        padding: 10px;
        background-color: rgba(226, 195, 166, 0.6);
    }
    
    aside {
        grid-area: aside; 
        text-align: center;
        font-weight: bold; 
        font-size: 20px;
    }
    
    section #productos {
        grid-area: productos;
    }
    
    #grilla {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 20% 80%;
        grid-template-areas: "aside" "productos";
    }
    
    #grilla {
        height: 800px;
        width: 100%;
        align-items: center;
        align-content: center;
        align-items: center;
    }
    
    #productos {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto;
        column-gap: 10px;
        row-gap: 10px;
    }
    
    #productos {
        height: 200px;
        width: 100%;
        justify-items: stretch;
        align-items: center;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-weight: bold; 
        font-size: 20px;   
    }
    
    #productos .item {
        justify-self: center;
        background-color: none;
        border: none
    }
}


@media screen and (min-width: 1200px) {

#informacion div {
    border: solid 1px;
    padding: 10px;
    background-color: rgba(226, 195, 166, 0.6);
}

section #informacion {
    grid-area: informacion;
}

#informacion {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 20%;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
    height: 600px;
    width: 100%;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#info {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20%;
    grid-template-areas: "." "informacion informacion informacion";
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

#productos div {
    border: solid 1px;
    padding: 10px;
    background-color: rgba(226, 195, 166, 0.6);
}

aside {
    grid-area: aside;
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
}

section #productos {
    grid-area: productos;
}

#grilla {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
    grid-template-areas: "aside" "productos";
}

#grilla {
    height: 800px;
    width: 100%;
    align-items: center;
    align-content: center;
    align-items: center;
}

#productos {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
    text-align: center;
    font-weight: bold; 
    font-size: 20px;
}

#productos {
    height: 200px;
    width: 100%;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
    align-content: center;
}

#productos .item {
    justify-self: center;
    background-color: none;
    border: none
}
}*/

.navbar {
    margin: 0 100px;
}

.navbar-brand:hover {
    transition:all 0.3s;
    font-size: 21px;
    background-color: rgba(241, 213, 161, 0.822);
    border-radius: 20px;
    
}

.wow {
    padding-top: 20px;
    margin-left: 10px;
    text-align: center;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 10s;
}

.btn {
    background-color:#727272;
    
}

.contact {
    border-style: double;
    border-color: black;
    
}
